In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.common.keys import Keys

import time

In [2]:
# Q1
driver=webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [44]:
detailtag = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td')
songs = []

for row in detailtag:
    songs.append(row.text)

songs

['"Baby Shark Dance"[7]',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 '14.32',
 'June 17, 2016',
 '[A]',
 '"Despacito"[10]',
 'Luis Fonsi',
 '8.41',
 'January 12, 2017',
 '[B]',
 '"Johny Johny Yes Papa"[18]',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 '6.89',
 'October 8, 2016',
 '',
 '"Bath Song"[19]',
 'Cocomelon - Nursery Rhymes',
 '6.66',
 'May 2, 2018',
 '',
 '"Shape of You"[20]',
 'Ed Sheeran',
 '6.23',
 'January 30, 2017',
 '[C]',
 '"See You Again"[23]',
 'Wiz Khalifa',
 '6.22',
 'April 6, 2015',
 '[D]',
 '"Wheels on the Bus"[28]',
 'Cocomelon - Nursery Rhymes',
 '6.01',
 'May 24, 2018',
 '',
 '"Phonics Song with Two Words"[29]',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 '5.75',
 'March 6, 2014',
 '',
 '"Uptown Funk"[30]',
 'Mark Ronson',
 '5.18',
 'November 19, 2014',
 '',
 '"Gangnam Style"[31]',
 'Psy',
 '5.10',
 'July 15, 2012',
 '[E]',
 '"Learning Colors – Colorful Eggs on a Farm"[36]',
 'Miroshka TV',
 '5.09',
 'February 27, 2018',
 '',
 '"Dame Tu Cosita"[37]',
 'Ultra Records',
 '4.59',
 'April 5, 2018',
 '',
 '"Masha and the Bear – Recipe for Disaster"[38]',
 'Get Movies',
 '4.57',
 'January 31, 2012',
 '',
 '"Axel F"[39]',
 'Crazy Frog',
 '4.45',
 'June 16, 2009',
 '',
 '"Sugar"[40]',
 'Maroon 5',
 '4.02',
 'January 14, 2015',
 '',
 '"Baa Baa Black Sheep"[41]',
 'Cocomelon - Nursery Rhymes',
 '4.01',
 'June 25, 2018',
 '',
 '"Counting Stars"[42]',
 'OneRepublic',
 '4.00',
 'May 31, 2013',
 '',
 '"Lakdi Ki Kathi"[43]',
 'Jingle Toons',
 '3.98',
 'June 14, 2018',
 '',
 '"Roar"[44]',
 'Katy Perry',
 '3.98',
 'September 5, 2013',
 '',
 '"Waka Waka (This Time for Africa)"[45]',
 'Shakira',
 '3.89',
 'June 4, 2010',
 '',
 '"Sorry"[46]',
 'Justin Bieber',
 '3.78',
 'October 22, 2015',
 '',
 '"Shree Hanuman Chalisa"[47]',
 'T-Series Bhakti Sagar',
 '3.77',
 'May 10, 2011',
 '',
 '"Humpty the train on a fruits ride"[48]',
 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs',
 '3.76',
 'January 26, 2018',
 '',
 '"Thinking Out Loud"[49]',
 'Ed Sheeran',
 '3.75',
 'October 7, 2014',
 '',
 '"Perfect"[50]',
 'Ed Sheeran',
 '3.70',
 'November 9, 2017',
 '',
 '"Dark Horse"[51]',
 'Katy Perry',
 '3.70',
 'February 20, 2014',
 '',
 '"Let Her Go"[52]',
 'Passenger',
 '3.64',
 'July 25, 2012',
 '',
 '"Faded"[53]',
 'Alan Walker',
 '3.60',
 'December 3, 2015',
 '',
 '"Girls Like You"[54]',
 'Maroon 5',
 '3.58',
 'May 31, 2018',
 '',
 '"Lean On"[55]',
 'Major Lazer Official',
 '3.57',
 'March 22, 2015',
 '']

In [51]:
Rank = []
Name = []
Artist = []
Views = []
UploadDate = []

for i in range(0, len(songs), 5):
    rank = i // 5 + 1
    Name.append(songs[i])
    Artist.append(songs[i + 1])
    Views.append(songs[i + 2])
    UploadDate.append(songs[i + 3])
    Rank.append(rank)

In [52]:
df=pd.DataFrame({
    "Rank":Rank,
    "Name":Name,
    "Artist":Artist,
    "Upload Date":UploadDate,
    "Views":Views
})

df

,Rank,Name,Artist,Upload Date,Views
0,1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.32
1,2,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.41
2,3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.89
3,4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.66
4,5,"""Shape of You""[20]",Ed Sheeran,"January 30, 2017",6.23
5,6,"""See You Again""[23]",Wiz Khalifa,"April 6, 2015",6.22
6,7,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.01
7,8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.75
8,9,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.18
9,10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.10
10,11,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.09
11,12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.59
12,13,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.57
13,14,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.45
14,15,"""Sugar""[40]",Maroon 5,"January 14, 2015",4.02
15,16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.01
16,17,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",4.00
17,18,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.98
18,19,"""Roar""[44]",Katy Perry,"September 5, 2013",3.98
19,20,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.89
20,21,"""Sorry""[46]",Justin Bieber,"October 22, 2015",3.78
21,22,"""Shree Hanuman Chalisa""[47]",T-Series Bhakti Sagar,"May 10, 2011",3.77
22,23,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.76
23,24,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.75
24,25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.70
25,26,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.70
26,27,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.64
27,28,"""Faded""[53]",Alan Walker,"December 3, 2015",3.60
28,29,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.58
29,30,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.57

In [53]:
driver.quit()

In [54]:
# Q2
driver=webdriver.Chrome()
driver.get("https://www.bcci.tv")

In [55]:
fixturetag=driver.find_element(By.XPATH,'//a[@class="border-0 active"]')
fixturetag.click()

In [57]:
teamindia=driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[1]/div[2]/div/div[1]/div/div[2]/div[9]')
teamindia.click()

In [58]:
series=[]
date=[]
place=[]
time=[]

In [61]:
seriestag=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
datetag=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
placetag=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
timetag=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')

for i in seriestag :
    series.append(i.text)
    
for i in datetag :
    date.append(i.text)
    
for i in placetag :
    place.append(i.text)
    
for i in timetag :
    time.append(i.text)

In [63]:
df2=pd.DataFrame({
    "Series":series,
    "Place":place,
    "Date":date,
    "Time":time
})

df2

                        Series     Place           Date         Time
0  ICC MENS T20 WORLD CUP 2024  New York   5 JUNE, 2024  8:00 PM IST
1  ICC MENS T20 WORLD CUP 2024  New York   9 JUNE, 2024  8:00 PM IST
2  ICC MENS T20 WORLD CUP 2024  New York  12 JUNE, 2024  8:00 PM IST
3  ICC MENS T20 WORLD CUP 2024   Florida  15 JUNE, 2024  8:00 PM IST
4  INDIA TOUR OF ZIMBABWE 2024    Harare   6 JULY, 2024  8:00 PM IST
5  INDIA TOUR OF ZIMBABWE 2024    Harare   7 JULY, 2024  8:00 PM IST
6  INDIA TOUR OF ZIMBABWE 2024    Harare  10 JULY, 2024  8:00 PM IST
7  INDIA TOUR OF ZIMBABWE 2024    Harare  13 JULY, 2024  8:00 PM IST
8  INDIA TOUR OF ZIMBABWE 2024    Harare  14 JULY, 2024  8:00 PM IST

In [64]:
driver.quit()

In [73]:
# Q3
driver=webdriver.Chrome()
driver.get("https://statisticstimes.com")

In [74]:
try:
    economytag = WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')))
    economytag.click()

except TimeoutException:
    print("Element not found within the specified timeout.")

Element not found within the specified timeout.

In [77]:
driver.quit()

In [71]:
# Q4
driver=webdriver.Chrome()
driver.get("https://github.com")

In [75]:
try:
    trendingtag = WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')))
    trendingtag.click()

except TimeoutException:
    print("Element not found within the specified timeout.")

Element not found within the specified timeout.

In [78]:
driver.quit()

In [79]:
# Q5 
driver=webdriver.Chrome()
driver.get("https://www.billboard.com")

In [80]:
hot100tag=driver.find_element(By.XPATH,'//a[@class="c-link  lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-dark"]')
hot100tag.click()

In [106]:
Nametags=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')
infotags=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/span')

data=[]
SongName=[]
for i in Nametags:
    SongName.append(i.text)
for i in infotags:
        data.append(i.text)

['Like That',
 'Type Shit',
 'Beautiful Things',
 'Lose Control',
 'Too Sweet',
 'Cinderella',
 'Lovin On Me',
 "We Don't Trust You",
 'Young Metro',
 "We Can't Be Friends (Wait For Your Love)",
 "Texas Hold 'Em",
 'Carnival',
 'Ice Attack',
 'Obsessed',
 'I Remember Everything',
 'Cruel Summer',
 'Greedy',
 'Stick Season',
 'Water',
 'Slimed In',
 'End Of Beginning',
 'Agora Hills',
 'Snooze',
 'Claustrophobic',
 'Fast Car',
 'Saturn',
 'Magic Don Juan (Princess Diana)',
 'Get It Sexyy',
 'Never Lose Me',
 'Redrum',
 'Act II: Date @ 8',
 'Whatever She Wants',
 'Fried (She A Vibe)',
 'Made For Me',
 'Feather',
 'Runnin Outta Time',
 'Man Made A Bar',
 'Everyday Hustle',
 'Truck Bed',
 'GTA',
 "Ain't No Love",
 'Houdini',
 'Paint The Town Red',
 'Enough (Miami)',
 'Slow It Down',
 'Selfish',
 "Is It Over Now? (Taylor's Version) [From The Vault]",
 '23',
 'Yeah Glo!',
 'Where The Wild Things Are',
 'Burn It Down',
 'WTFYM',
 'Austin',
 'Seen It All',
 'Wild Ones',
 'La Diabla',
 'Exes',
 'So American',
 'Wildflowers And Wild Horses',
 'The Boy Is Mine',
 'Yes, And?',
 'Where My Twin @',
 'Get In With Me',
 'Soak City',
 'Scared To Start',
 'Everybody',
 'Praise Jah In The Moonlight',
 "Mamaw's House",
 'La People II',
 'I Like The Way You Kiss Me',
 'Training Season',
 'Punteria',
 'Corazon de Piedra',
 'One Of The Girls',
 'Stranger',
 'Mmhmm',
 'Bandit',
 'Surround Sound',
 'Where It Ends',
 'Supernatural',
 'Tu Name',
 'FTCU',
 'Gata Only',
 'I Can Feel It',
 'Breathe',
 'Bye',
 'Eternal Sunshine',
 'Wildflower And Barley',
 'Sensational',
 'Scared Of My Guitar',
 'Spin You Around (1/24)',
 'One Call',
 'Best For Me',
 'You Broke My Heart',
 'Home',
 'La Victima',
 'Tucson Too Late',
 'Empire Now',
 "Girl I've Always Been",
 'Outskirts']

In [103]:
artist = []
lastweek = []
peakposition = []
weeksonchart = []

for index, value in enumerate(data):
    if index % 4 == 0:
        artist.append(value)
    elif index % 4 == 1:
        lastweek.append(value)
    elif index % 4 == 2:
        peakposition.append(value)
    else:
        weeksonchart.append(value)

In [107]:
df5=pd.DataFrame({
    "Song Name":SongName,
    "Artist":artist,
    "Last week":lastweek,
    "Peak Position":peakposition,
    "Weeks on Chart":weeksonchart
})

df5

,Song Name,Artist,Last week,Peak Position,Weeks on Chart
0,Like That,"Future, Metro Boomin & Kendrick Lamar",-,1,1
1,Type Shit,"Future, Metro Boomin, Travis Scott & Playboi C...",-,2,1
2,Beautiful Things,Benson Boone,2,2,10
3,Lose Control,Teddy Swims,1,1,33
4,Too Sweet,Hozier,-,5,1
...,...,...,...,...,...
95,La Victima,Xavi,77,46,15
96,Tucson Too Late,Jordan Davis,81,81,4
97,Empire Now,Hozier,-,98,1
98,Girl I've Always Been,Olivia Rodrigo,-,99,1
99,Outskirts,Sam Hunt,92,92,3

In [108]:
driver.quit()

In [109]:
# Q6
driver=webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [115]:
infotag=driver.find_elements(By.XPATH,'//td[@class="left"]')
genretag=driver.find_elements(By.XPATH,'//td[@class="last left"]')
Bookdata=[]
for i in infotag:
    Bookdata.append(i.text)
Genre=[]
for i in genretag:
    Genre.append(i.text)

In [117]:
Bookname=[]
AuthorName=[]
Volumesold=[]
Publisher=[]

for index, value in enumerate(Bookdata):
    if index % 5 == 2:
        Bookname.append(value)
    elif index % 5 == 3:
        AuthorName.append(value)
    elif index % 5 == 4:
        Volumesold.append(value)
    elif index % 5 == 0:
        Publisher.append(value)
    else:
        value

In [119]:
df6=pd.DataFrame({
    "Book Name":Bookname,
    "Author NAme":AuthorName,
    "Volumes sold":Volumesold,
    "Publsiher":Publisher,
    "Genre":Genre
})

df6

,Book Name,Author NAme,Volumes sold,Publsiher,Genre
0,"Brown, Dan","5,094,805",Transworld,1,"Crime, Thriller & Adventure"
1,"Rowling, J.K.","4,475,152",Bloomsbury,2,Children's Fiction
2,"Rowling, J.K.","4,200,654",Bloomsbury,3,Children's Fiction
3,"Rowling, J.K.","4,179,479",Bloomsbury,4,Children's Fiction
4,"James, E. L.","3,758,936",Random House,5,Romance & Sagas
...,...,...,...,...,...
95,"Harris, Robert","807,311",Random House,96,General & Literary Fiction
96,"Oliver, Jamie","794,201",Penguin,97,Food & Drink: General
97,"Collins, Suzanne","792,187",Scholastic Ltd.,98,Young Adult Fiction
98,"Pelzer, Dave","791,507",Orion,99,Biography: General
99,"Oliver, Jamie","791,095",Penguin,100,Food & Drink: General

In [120]:
driver.quit()

In [121]:
# Q8
driver=webdriver.Chrome()
driver.get("https://archive.ics.uci.edu")

In [122]:
dataset=driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
dataset.click()

In [141]:
nametag=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
infotag=driver.find_elements(By.XPATH,'//span[@class="truncate"]')
DatasetName=[]
datainfo=[]
for i in nametag:
    DatasetName.append(i.text)
for i in infotag:
    datainfo.append(i.text)
    
datainfo

['Classification',
 'Tabular',
 '150 Instances',
 '4 Features',
 'Subject Area',
 'Feature Type',
 'Date Donated',
 'Views',
 'Classification',
 'Multivariate',
 '13.61K Instances',
 '16 Features',
 'Subject Area',
 'Feature Type',
 'Date Donated',
 'Views',
 'Classification',
 'Multivariate',
 '303 Instances',
 '13 Features',
 'Classification',
 'Multivariate',
 '3.81K Instances',
 '7 Features',
 'Classification',
 'Multivariate',
 '48.84K Instances',
 '14 Features',
 'Classification',
 'Multivariate',
 '900 Instances',
 '8 Features',
 'Classification',
 'Multivariate',
 '569 Instances',
 '30 Features',
 'Classification',
 'Tabular',
 '178 Instances',
 '13 Features',
 'Classification, Regression',
 'Multivariate',
 '4.9K Instances',
 '12 Features',
 'Classification',
 'Multivariate, Time-Series',
 '1 Instances',
 '20 Features']

In [152]:
Datatype = []
Task = []
Instances = []
Attribute = []

counter = 0 

for index, value in enumerate(datainfo):
    if counter >= 40:
        break
    if index % 4 == 0:
        Attribute.append(value)
    elif index % 4 == 1:
        Datatype.append(value)
    elif index % 4 == 2:
        Task.append(value)
    else:
        Instances.append(value)
    counter += 1

In [153]:
df8=pd.DataFrame({
    "Dataset Name":DatasetName,
    "Datatype":Datatype,
    "Task":Task,
    "No of Instances":Instances,
    "No of Attribute":Attribute
})

df8

,Dataset Name,Datatype,Task,No of Instances,No of Attribute
0,Iris,Tabular,150 Instances,4 Features,Classification
1,Dry Bean,Feature Type,Date Donated,Views,Subject Area
2,Heart Disease,Multivariate,13.61K Instances,16 Features,Classification
3,Rice (Cammeo and Osmancik),Feature Type,Date Donated,Views,Subject Area
4,Adult,Multivariate,303 Instances,13 Features,Classification
5,Raisin,Multivariate,3.81K Instances,7 Features,Classification
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,48.84K Instances,14 Features,Classification
7,Wine,Multivariate,900 Instances,8 Features,Classification
8,Wine Quality,Multivariate,569 Instances,30 Features,Classification
9,Diabetes,Tabular,178 Instances,13 Features,Classification

In [ ]:
driver.quit()